# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Test files
test/*
!test/macros.hpp
!test/*.cpp
!test/datapath.in.h
!test/catch
!test/data
!test/CMakeLists.txt

# Doc files
docs/*.aux
docs/*.blg
docs/*.bbl
docs/*.log
docs/*.synctex.gz

# Build directory
build/*

# Downloaded data files
utils/*.dat
!utils/abundant.dat
!utils/nuclear_radii.dat

# VS Code
.vscode

# Tags files
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
